argcomplete==1.4.1
docopt
-e git://github.com/grahamar/botocore.git@8bf3d8a213b48509aec6e7bb0c45de15333f8482#egg=botocore
boto3>=1.4.0
cement==2.8.2
Cerberus
colorama
docker-py>=1.8.0
GitPython
Jinja2
ordereddict
pyaml
pycrypto
six>=1.10.0
termcolor
json-delta>=2.0